* {
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  width: 100em;
  height: 100em;
}

img {
  max-width: 100%;
}

p {
  color: #f7f7e8;
  font-size: 3em;
  font-family: "Dancing Script";
}

.nav {
  background-color: green;
}

.block {
  background-color: grey;
}
