@font-face {
  font-family: "nickainleynormal";
  src: url("../public/font/nickainley-normal-webfont.woff2") format("woff2"),
    url("../public/font/nickainley-normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", "Sans-serif";
  font-size: 2rem;
  color: #557174;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(165deg, #f7f7e8 0%, #c7cfb7 100%);
}

button {
  cursor: pointer;
}

main {
  display: flex;
  width: 90%;
  margin: 2.5% auto;
}

.nav-phone {
  display: none;
}

.phone-hr {
  display: none;
  width: 100%;
  background: black;
  border: solid black 1px;
  border-radius: 0.5rem 0.25rem;
  margin: 5% 0;
}

/* Loader -- start*/

.loader-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}
.loading {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading span {
  position: absolute;
  width: 25%;
  height: 50%;
  top: 25%;
  left: 37.5%;
  border: 2px solid #fff;
  animation: animate 5s linear infinite;
}

.loading span:nth-child(1) {
  border-radius: 60% 40% 21% 79% / 35% 55% 45% 65%;
}
.loading span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 50% 50% 51% 49% / 68% 68% 32% 32%;
}
.loading span:nth-child(3) {
  animation-duration: 3s;
  border-radius: 32% 68% 32% 68% / 43% 47% 53% 57%;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading h2 {
  color: #fff;
  font-weight: 500;
}

/* Loader -- end*/

/*Alerts -- start*/

.alert {
  display: flex;
  width: 50%;
  font-size: 50%;
  background: #ff633b;
  z-index: 2;
  border-radius: 0.5rem 0.25rem;
  border: 1px solid black;
  padding: 1%;
  align-items: center;
  align-self: flex-end;
  margin: 2.5%;
  position: absolute;
}

.alert-container .alert {
  width: 25%;
  margin: 0 auto 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert-warning {
  background: #ff633b;
}

.alert-success {
  background: #9dad7f;
  width: 35%;
  align-self: center;
  top: 0;
}

.alert p {
  font-size: 75%;
  width: 100%;
  color: #f7f7e8;
  text-align: center;
}

.close-alert {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/*Alerts -- end*/

/* nav -- start*/

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 1;
}

.menu-burger {
  display: none;
  flex-direction: column;
  position: relative;
  left: 75%;
  align-items: center;
  justify-content: center;
  background: rgb(199, 207, 183);
  background: linear-gradient(
    90deg,
    rgba(199, 207, 183, 0.5) 0%,
    rgba(157, 173, 127, 0.5) 100%
  );
  width: 200%;
  z-index: 1;
  border: 1px solid black;
  border-radius: 0.5rem 0.25rem;
}

.menu-burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
  width: 33%;
}

.nav-bckg {
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  height: 100%;
  border-bottom: 5px solid #557174;
}

nav p {
  font-size: 75%;
}

.nav-img {
  align-self: center;
}

.nav-btn {
  display: flex;
  align-self: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
}

.nav-link {
  position: relative;
}

.lantern-small {
  width: 5%;
  display: flex;
}

.garland {
  width: 7.5%;
  display: flex;
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.title-block p {
  text-align: center;
  font-size: 75%;
  color: black;
  font-weight: bold;
}

.user-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
}

.user-block p {
  font-size: 35%;
  color: #f7f7e8;
}

.log-out-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.log-out-block {
  display: flex;
  width: 90%;
  margin: 5% auto;
}

.sign-in-block {
  display: flex;
  width: 90%;
  margin: 5% auto;
}

.sign-in-block a {
  width: 100%;
  text-decoration: none;
}

.log-out {
  display: flex;
  width: 100%;
  background: #ff633b;
  padding: 1%;
  justify-content: center;
  border-radius: 0.5rem 0.25rem;
}

.profile-btn {
  display: flex;
  width: 100%;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    90deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  padding: 1%;
  justify-content: center;
  border-radius: 0.5rem 0.25rem;
  border: solid 1px black;
}

.close-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  align-self: center;
}

.home-connect-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  align-self: flex-start;
}

/*nav -- end*/

/* Index -- start*/

.index-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

.planning-container {
  display: flex;
  width: 45%;
  height: 100%;
}

.planning-block {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem 0.25rem;
}

.planning-filter {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.5rem 0.25rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.planning-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.planning {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.planning-line {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
}

.planning-content p {
  color: #f7f7e8;
  font-size: 35%;
}

.planning-content span {
  color: #f7f7e8;
  font-size: 35%;
}

.planning-content hr {
  width: 75%;
  margin: 0 auto;
}

.planning-bckg {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.5rem 0.25rem;
  object-fit: cover;
}

.index-block-link {
  display: flex;
  width: 100%;
  height: 20%;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.index-container {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.index-low-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
}

.index-top-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  height: 100%;
}

.index-block-link:nth-child(1) {
  left: -10%;
}

.index-block-link:nth-child(2) {
  left: 10%;
}

.index-block-link:nth-child(3) {
  left: -10%;
}

.index-block-link:nth-child(4) {
  left: 10%;
}

.index-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  border: 2.5px solid black;
  border-radius: 0.5rem 0.25rem;
  opacity: 0.75;
}

.index-block-link:nth-child(3) .index-block-content p {
  font-size: 30%;
  color: #f7f7e8;
  text-align: center;
  width: 90%;
}

.porfolio-block {
  position: relative;
}

.not-availaible {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.25rem;
  border: 2.5px solid black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -2px;
  top: -2px;
}

.not-availaible p {
  font-size: 65%;
  text-align: center;
  display: flex;
  align-items: center;
  color: #f7f7e8;
}

.index-block-title {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.index-block-title p {
  font-size: 40%;
  text-align: center;
  color: #f7f7e8;
  text-decoration: none;
}

.index-block-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 40%;
  margin: auto;
}

.index-block-content img:hover {
  animation-name: flip;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.index-block-content img {
  width: 50%;
  object-fit: contain;
  animation: flip;
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* Index -- end*/

/* sign in form -- start */

.sign-in-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2.5% auto;
}

.sign-in-label,
.sign-in-input {
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50%;
}

.sign-in-label p {
  font-size: 75%;
}

.sign-in-input {
  border-radius: 0.5rem 0.25rem;
  border: solid 1px #557174;
  background: rgba(0, 0, 0, 0);
  margin-bottom: 7.5%;
  padding: 0.5% 1%;
  font-family: "Sans Serif";
}

.sign-in-btn {
  display: flex;
  width: 50%;
  margin: auto;
  border: 1px solid black;
  border-radius: 0.5rem 0.25rem;
  padding: 1%;
  justify-content: center;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
}

.sign-in-btn p {
  font-size: 50%;
  color: #f7f7e8;
}

.sign-in-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* sign -in form -- end */

/*sign-up form -- start*/

.sign-in-link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.sign-up-main {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-info {
  color: black;
  font-size: 0.3rem;
}

.form-info-container {
  width: 75%;
  display: flex;
  justify-content: center;
  text-align: center;
  background: rgb(199, 207, 183);
  background: linear-gradient(
    165deg,
    rgba(199, 207, 183, 1) 0%,
    rgba(157, 173, 127, 1) 100%
  );
  border: 1px solid black;
  border-radius: 0.5rem 0.25rem;
  padding: 1%;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.regular-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.additionnal-form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 2.5% 0;
}

.form-group {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 0 5%;
}

.additionnal-form-group {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
}

.sign-up-label {
  width: 100%;
  display: flex;
  align-items: center;
}

.form-group input,
.additionnal-input,
.code-input {
  width: 75%;
  font-family: "Sans-serif";
  font-size: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #557174;
  border-radius: 0.5rem 0.25rem;
  padding: 2.5%;
}

.submit-sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

.code-input {
  margin: 2.5% 0 5%;
}

.housing-choice-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.housing-choice-form p,
.food-choice-form p,
.sideGuest-choice-form p {
  font-size: 30%;
}

.sign-up-label p {
  font-size: 30%;
  width: 75%;
  margin: 0 15%;
}

.housing-choice-form input {
  display: none;
}

input[type="checkbox"] + label {
  display: flex;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #557174;
  margin: 2.5% auto;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 0.5rem 0.25rem;
}

input[type="radio"] + label {
  display: flex;
  width: 25%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #557174;
  margin: 2.5% auto;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 0.5rem 0.25rem;
}

.mail-to-input {
  display: none;
}

.additionnal-form-btn {
  display: flex;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #557174;
  margin: 5% auto;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 0.5rem 0.25rem;
}

.additionnal-form-btn p {
  text-align: center;
  width: 100%;
}

.additionnal-form-btn:active {
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  color: #f7f7e8;
  border: 1px black solid;
}

.additionnal-form-btn:active .additionnal-form-btn p {
  color: #f7f7e8;
}

input[type="checkbox"]:checked + label {
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  color: #f7f7e8;
  border: 1px black solid;
}

input[type="radio"]:checked + label {
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  color: #f7f7e8;
  border: 1px black solid;
}

input[type="checkbox"]:checked + label p {
  color: #f7f7e8;
}

input[type="radio"]:checked + label p {
  color: #f7f7e8;
}

.sideGuest-food-input {
  display: flex;
  width: 75%;
}

.add-btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 50%;
}

.add-food-btn {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 25%;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 25%;
  align-items: center;
}

.food-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sign-up-label-container {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.additionnal-food-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.additionnal-sideGuest-container {
  display: flex;
  width: 75%;
  justify-content: flex-start;
}

.sub-additionnal-sideGuest-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 15%;
}

.additionnal-sideGuest-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.submit-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.submit-container a p,
.submit-container p {
  font-size: 30%;
}

.sign-up-submit-btn {
  display: flex;
  width: 75%;
  border: 1px solid black;
  border-radius: 0.5rem 0.25rem;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
}

.sign-up-submit-btn p {
  font-size: 50%;
  color: #f7f7e8;
}

.additionnal-sideGuest-input {
  width: 90%;
  display: flex !important;
  margin: 5% 0;
}

.sideGuest-food-container {
  display: flex;
  width: 65%;
  justify-content: flex-start;
  margin: 0 auto;
  flex-direction: column;
}

.sideGuest-hr {
  width: 25%;
  color: rgba(85, 113, 116, 1);
  border: solid 1px black;
  margin: 5% auto;
}

.additionnal-sideGuest-food-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.sideGuest-btn-container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
}

.add-sideGuest-btn {
  display: flex;
  flex-direction: center;
  width: 20%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.additionnal-sideGuest-label {
  display: flex;
  align-items: center;
}

.add-img {
  width: 75%;
  display: flex;
  margin: 0 auto;
}

.sideGuest-food-control {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sideGuest-food-control {
  display: flex;
  align-items: center;
}

.sideGuest-food-individual-control {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
}

/*sign-up form -- end*/

/* Contact -- start*/

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.contact-btn-container {
  display: flex;
  margin: 5% auto;
}

.contact-btn {
  width: 100%;
  margin: auto;
  display: flex;
  border-radius: 0.5rem 0.25rem;
  border: 1px solid black;
  padding: 2.5%;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
}

.mail-to-block {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.mail-to-block p {
  font-size: 50%;
  text-align: center;
}

.mail-to-topic-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.mail-to-topic-input {
  background: rgba(0, 0, 0, 0);
  border-radius: 0.5rem 0.25rem;
  border: #557174 1px solid;
  width: 75%;
  padding: 1%;
  font-family: "Sans-Serif";
  font-size: 50%;
}

.contact-btn p {
  font-size: 50%;
  color: #f7f7e8;
}

#text-area {
  width: 100%;
  border: 2.5px solid black;
  border-radius: 0.5rem 0.25rem;
}

.ck-editor__editable {
  height: 7.5em;
}

.ck-editor__main {
  font-size: 75%;
}

.ck-content p,
.ck-content h2,
.ck-content h3,
.ck-content h4 {
  font-family: sans-serif;
}

.ck-content p {
  font-size: 50%;
}

.ck-content h4 {
  font-size: 60%;
}

.ck-content h3 {
  font-size: 75%;
}

.ck-content {
  font-size: 100%;
}

/* Contact -- end*/

/*scrollbar -- start */

body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  background: #9dad7f;
  border: 2.5px solid #557174;
}

body::-webkit-scrollbar-thumb {
  background-color: #557174;
  border: 0.25em solid #557174;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #557174 rgba(0, 0, 0, 0);
}

.control-panel-results::-webkit-scrollbar {
  width: 0.25em;
}

.control-panel-results::-webkit-scrollbar-track {
  background: #9dad7f;
  border-radius: 0.5rem 0.25rem;
  border: 2.5px solid #557174;
}

.control-panel-results::-webkit-scrollbar-thumb {
  background-color: #557174;
  border-radius: 0.5rem 0.25rem;
  border: 5px solid #557174;
}

.control-panel-results {
  scrollbar-width: thin;
  scrollbar-color: #557174 rgba(0, 0, 0, 0);
}

.search-user-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/*scrollbar -- end */

/* control panel -- start*/

.control-panel-main {
  display: flex;
  flex-direction: column;
}

.control-panel-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 7.5em;
  padding: 2.5%;
}

.user-name-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

.user-name-block p {
  font-size: 50%;
}

.panel-user-block {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin-top: 2.5%;
  border: 1px solid black;
  border-radius: 0.5rem 0.25rem;
  padding: 2.5%;
  text-decoration: none;
}

.user-img-block {
  display: flex;
  width: 20%;
  justify-content: center;
}

.control-panel-search-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

.control-panel-search-container hr {
  color: black;
  border: 1px solid black;
}

.control-panel-searchbar-container {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.control-panel-searchbar-container p {
  display: flex;
  font-size: 50%;
}

.reset-searchbar-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.reset-searchbar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  border: 1px black solid;
  border-radius: 0.5rem 0.25rem;
  background: #ff633b;
  margin: 5% auto;
}

.reset-searchbar-btn p {
  color: #f7f7e8;
}

.control-panel-tag-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 65%;
  justify-content: center;
  align-items: center;
  padding: 2.5% 0;
  height: 2.5em;
}

.panel-tag {
  width: 75%;
  border-radius: 0.5rem 0.25rem 0 0;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  border: 1px solid black;
  align-self: center;
  justify-self: center;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.active-tag {
  border: solid 1px black;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    90deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
}

.panel-tag p {
  font-size: 35%;
  color: #f7f7e8;
  margin: auto;
  text-align: center;
}

.search-user-input {
  font-size: 50%;
  background: rgba(0, 0, 0, 0);
  border: solid 1px #557174;
  border-radius: 0.5rem 0.25rem;
  font-family: "Sans-Serif";
  margin-bottom: 10%;
}

.search-user {
  align-self: flex-start;
  margin-left: 10%;
}

.search-user-btn {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem 0.25rem;
  border: 1px solid black;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
}

.search-user-btn p {
  color: #f7f7e8;
  font-size: 50%;
}

.search-choice {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100%;
  left: -1px;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  border: 1px solid black;
  border-radius: 0 0 0.5rem 0.25rem;
}

.panel-tag:hover .search-choice {
  display: flex;
}

.panel-btn-tag {
  display: flex;
  width: 75%;
  margin: 5% auto;
  border: 1px solid black;
  border-radius: 0.5rem 0.25rem;
  transition: ease 1s;
}

.panel-btn-tag:hover {
  opacity: 0.5;
}

.no-tag {
  background: #ff633b;
}

.yes-tag {
  background: rgb(157, 173, 127);
}

.sideguest-tag {
  background: #2f8bff;
}

.panel-btn-tag p {
  color: #f7f7e8;
}

.noDisplay-house {
  display: none;
}

.noDisplay-food {
  display: none;
}

.noDisplay-sideguest {
  display: none;
}

.noDisplay-user {
  display: none;
}

/* control panel -- end*/

/* Profile -- start*/

.user-info-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.profile-choice {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 5% 0;
}

.switch-profile-btn {
  border: 1px solid black;
  border-radius: 0.5rem 0.25rem;
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.user-info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-block p {
  font-size: 35%;
}

.user-profile-info-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
}

.sideguest-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 75%;
  border-radius: 0.5rem 0.25rem;
  padding: 1%;
  margin: 5%;
}

.sideguest-name-surname-block {
  display: flex;
  width: 50%;
  justify-content: center;
}

.sideguest-name-age-block {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.sideguest-info-block hr {
  width: 75%;
  margin: 5%;
  display: flex;
  border: 1px solid black;
  background: black;
  border-radius: 0.5rem;
}

.sideguest-food-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
}

.sideguest-indiv-food-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
  margin: 0 0 5%;
}

.sideguest-food-img {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-content {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.5%;
}

.user-food-content {
  width: 100%;
  justify-content: flex-start;
}

.user-food-block {
  display: flex;
  align-items: center;
}

.user-food {
  border: 1px solid #ff633b;
  border-radius: 0.5rem 0.25rem;
  display: flex;
  align-items: center;
  width: 50%;
  padding: 1%;
}

.food-icon {
  width: 25%;
  margin: 0 10%;
}

.user-photo-block {
  width: 60%;
  display: flex;
}

.user-photo-block {
  display: flex;
  margin: 0 5%;
  justify-content: center;
  align-items: center;
}

.user-photo-block p {
  font-size: 50%;
  text-align: justify;
}

.user-change-info-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.user-change-info-btn {
  width: 75%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 1%;
  border-radius: 0.5rem 0.25rem;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    90deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
}

.user-change-info-btn p {
  color: #f7f7e8;
}

.user-food-block,
.user-sideguest-block {
  display: none;
}

/* Profile -- end*/

/* Change info -- start*/

.change-info-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.change-info-main p {
  font-size: 50%;
  text-align: justify;
}

.change-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.change-form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 2.5% 0;
}

.change-validation-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.change-input-block {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

.change-input {
  display: flex;
  border: 1px solid #557174;
  border-radius: 0.5rem 0.25rem;
  background: rgba(0, 0, 0, 0);
  font-family: "Sans-Serif";
  font-size: 75%;
}

.change-info-btn {
  display: flex;
  margin: 2.5% 0;
  padding: 1%;
  border-radius: 0.5rem 0.25rem;
  border: solid 1px black;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    90deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
}

.change-info-btn p {
  color: #f7f7e8;
}

/* Change info -- end*/

/* cagnotte leetchi -- start*/

.leetchi-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.leetchi-text-block {
  display: flex;
  border: 1px solid #557174;
  border-radius: 0.5rem 0.2rem;
  padding: 5%;
  margin: 5% auto;
}

.leetchi-btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leetchi-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(157, 173, 127);
  background: linear-gradient(
    90deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  border: 1px solid #557174;
  border-radius: 0.5rem 0.25rem;
  width: 75%;
  padding: 1%;
}

.leetchi-btn p {
  font-size: 50%;
  color: #f7f7e8;
}

.leetchi-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
/* cagnotte leetchi - end*/

/* info pratiques -- start */

.info-main {
  justify-content: space-evenly;
  align-items: center;
}

.info-main hr {
  display: flex;
  color: black;
  border: 1px solid black;
  width: 25%;
  transform: rotate(90deg);
}

.info-left-block {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  border: 1px solid #557174;
  border-radius: 0.5rem 0.25rem;
  padding: 2.5%;
}

.info-right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.info-top-block,
.info-bottom-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #557174;
  border-radius: 0.5rem 0.25rem;
  padding: 2.5%;
}

.info-right-block hr {
  transform: rotate(0);
  width: 50%;
  margin: 5% 0;
}

/* info pratiques -- end */

/* map -- start */

#map {
  height: 500px;
  display: flex;
  width: 90%;
  border-radius: 0.5rem 0.25rem;
  border: solid 1px black;
}

.leaflet-control-attribution a {
  font-size: 50%;
}

.marker-block {
  width: 100%;
  margin: auto;
  display: flex;
}

.leaflet-popup-content p {
  font-size: 35%;
  text-align: center;
  color: #557174;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 2.5% 0 !important;
}

.leaflet-popup-content a {
  background: #f2fa5a;
  border-radius: 0.5rem 0.25rem;
  border: 1px black solid;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.map-car-icon {
  width: 25%;
}

.leaflet-popup-content a {
  text-decoration: none;
}

.leaflet-popup-close-button {
  font-size: 25%;
}

.map-block {
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

#itineraire {
  flex-direction: row;
}

.click-img {
  width: 25%;
}

.access-marker-block {
  flex-direction: column;
}

.map-side-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.map-side-block p {
  font-size: 50%;
  text-align: justify;
}

.map-side-block-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.map-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-icon {
  width: 75%;
  object-fit: contain;
}

/* map - end */

/* tablet & phone wide -- start */

@media (max-width: 850px) {
  html {
    height: auto;
  }

  nav {
    padding: 0;
  }

  .menu-burger-btn {
    width: 25%;
  }

  .lantern-small {
    display: none;
  }

  .title-block p {
    font-size: 50%;
  }

  .lantern-large {
    width: 50%;
  }

  .sign-up-submit-btn {
    width: 100%;
  }

  .loading h2 {
    font-size: 50%;
  }

  .index-main {
    height: 150vh;
  }

  .index-container {
    width: 45%;
  }

  .index-block-link {
    width: 75%;
    height: 20%;
    justify-self: center;
  }

  .index-block-link:nth-child(1) {
    top: 0;
  }

  .index-block-link:nth-child(2) {
    top: 0;
  }

  .index-block-link:nth-child(3) {
    top: 0;
  }

  .index-block-link:nth-child(4) {
    top: 0;
  }

  .index-block {
    align-items: center;
  }

  .index-block-content {
    width: 45%;
    margin: 0;
  }

  .user-block {
    width: 20%;
  }

  .title-block {
    width: 50%;
  }

  .profile-main {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .user-info-block {
    width: 75%;
  }

  .user-info-content {
    justify-content: center;
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    justify-content: center;
    align-items: center;
  }

  .profile-main hr {
    margin: 5% 0;
    border: black 1px solid;
    width: 50%;
  }

  .change-form-content {
    display: flex;
    flex-direction: column;
  }

  .contact-btn-container {
    width: 60%;
    display: flex;
    justify-content: center;
  }

  .contact-btn {
    display: flex;
    justify-content: center;
  }

  .mail-to-block {
    flex-direction: column-reverse;
  }

  input[type="radio"] + label {
    width: 50%;
  }

  .mail-to-topic-input {
    width: 100%;
  }

  .mail-to-topic-block {
    margin-bottom: 5%;
  }

  .control-panel-searchbar-container p {
    font-size: 35%;
  }

  .panel-tag {
    width: 90%;
  }

  .panel-tag p {
    font-size: 25%;
  }

  .panel-user-block {
    width: 90%;
  }

  #map {
    width: 100%;
  }

  .map-main {
    flex-direction: column;
  }

  .map-side-block {
    margin-top: 5%;
  }

  .map-side-block-content {
    margin-top: 5%;
  }
}

/* tablet & phone wide -- end */

/* phone portrait -- start*/

@media (max-width: 450px) {
  body {
    height: 100%;
  }

  main {
    margin-top: 10%;
  }

  .nav {
    display: none;
  }

  .nav-bckg {
    height: 100%;
    position: absolute;
  }

  .desktop-nav-bckg {
    display: none;
  }

  .nav-phone {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .nav-phone-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2.5% 0;
  }

  .nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10%;
  }

  .nav-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  }

  .title-block {
    width: 100%;
  }

  .close-block {
    width: 10%;
  }

  .lantern-small {
    display: flex;
    width: 15%;
  }

  .nav-img-block {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .garland {
    display: flex;
    width: 20%;
  }

  .nav-img-block {
    justify-content: space-evenly;
  }

  .home-connect-block {
    width: 100%;
  }

  .user-block {
    width: 100%;
    position: relative;
  }

  .sign-in-block {
    margin: 0 auto 5%;
  }

  .log-out-block {
    margin: auto;
  }

  .nav-link {
    margin: 0;
  }

  .menu-burger {
    width: 400%;
    left: 150%;
    padding: 25%;
    background: rgba(0, 0, 0, 0.5);
  }

  .menu-burger-btn {
    width: 100%;
  }

  .display {
    display: flex;
  }

  .index-main {
    margin-top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .index-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40vh;
  }

  .index-block-link {
    height: 75%;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .index-block {
    flex-direction: column-reverse;
    height: 100%;
    margin-bottom: 5%;
    position: absolute;
  }

  .index-block-content {
    height: 50%;
  }

  .index-block-title {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
  }

  .not-availaible p {
    font-size: 50%;
  }

  .index-block-link:nth-child(1) {
    top: 0;
    left: 0;
  }

  .index-block-link:nth-child(2) {
    top: 0;
    left: 0;
  }

  .index-block-link:nth-child(3) {
    top: 0;
    left: 0;
  }

  .index-block-link:nth-child(4) {
    top: 0;
    left: 0;
  }

  .planning-container {
    height: 50vh;
    width: 100%;
  }

  .planning-container p {
    text-align: center;
  }

  .planning-bckg {
    border-radius: 0;
  }

  .planning-filter {
    border-radius: 0;
  }

  .planning-content {
    width: 100%;
  }

  #map {
    width: 100%;
  }

  .user-info-container {
    width: 100%;
  }

  .user-info-block {
    width: 100%;
  }

  .switch-profile-btn p {
    font-size: 25%;
  }

  .change-form-content {
    width: 100%;
  }

  .change-input {
    font-size: 35%;
  }

  input[type="radio"] + label {
    width: 100%;
  }

  .ck-editor__editable {
    padding: 2.5%;
  }

  .info-main {
    flex-direction: column;
  }

  .info-main hr {
    display: flex;
    color: black;
    border: 1px solid black;
    width: 50%;
    margin: 5% 0;
    transform: none;
  }

  .info-left-block {
    width: 100%;
  }

  .info-right-block {
    width: 100%;
  }

  .info-top-block {
    width: 100%;
  }

  .info-bottom-block {
    width: 100%;
  }

  .control-panel-search-container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .control-panel-searchbar-container {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .control-panel-search-container hr {
    width: 75%;
  }

  .control-panel-tag-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .control-panel-results {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .user-img-block {
    display: none;
  }

  .user-name-block {
    width: 60%;
  }

  .panel-tag p {
    font-size: 35%;
  }

  .sign-in-label,
  .sign-in-input {
    width: 100%;
  }

  .alert-container .alert {
    width: 100%;
  }

  .alert {
    width: 75%;
  }

  .regular-form {
    display: flex;
    flex-direction: column;
  }

  .additionnal-form {
    flex-direction: column-reverse;
    align-items: center;
  }

  .food-choice-form {
    width: 100%;
  }

  .additionnal-form-group {
    width: 100%;
  }

  .additionnal-food-container {
    width: 100%;
  }

  .submit-container {
    flex-direction: column-reverse;
  }

  .code-input {
    width: 100%;
  }

  .sign-up-submit-btn {
    justify-content: center;
  }

  .sign-in-link-container {
    align-items: center;
    margin: 5% 0;
  }

  .form-info-container {
    margin-bottom: 5%;
  }

  .additionnal-sideGuest-container {
    width: 100%;
  }

  .sideGuest-food-container {
    width: 100%;
  }

  .sign-in-btn {
    width: 100%;
  }

  .phone-hr {
    display: flex;
  }

  .sideguest-name-age-block {
    width: 100%;
  }
}

/* phone portrait -- end*/
