* {
  margin: 0;
  padding: 0;
  font-family: "Nickainley", "Sans-serif";
  font-size: 2rem;
  color: #557174;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(165deg, #f7f7e8 0%, #c7cfb7 100%);
  height: 100vh;
}

main {
  display: flex;
  width: 90%;
  margin: 2.5% auto;
}

/* nav -- start*/

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2.5%;
}

nav p {
  font-size: 75%;
}

.nav-img {
  align-self: center;
}

.nav-top {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.nav-btn {
  display: flex;
  align-self: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.lantern-small {
  margin-top: 2.5%;
}

/*nav -- end*/

/*sign-up form -- start*/

.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.regular-form {
  width: 100%;
  height: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.additionnal-form {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.form-group {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.additionnal-form-group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form-group input {
  width: 50%;
  font-family: "Sans-serif";
  font-size: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #557174;
  border-radius: 0.5rem 0.25rem;
}

.housing-form p,
.food-form p,
.sideGuest-form p {
  font-size: 30%;
}

.sign-up-label p {
  font-size: 30%;
  width: 100%;
  text-align: center;
}

.housing-form input,
.food-form input,
.sideGuest-form input {
  display: none;
}

input[type="checkbox"] + label {
  display: flex;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #557174;
  margin: 5% auto;
  text-align: center;
  cursor: pointer;
  color: black;
  border-radius: 0.5rem 0.25rem;
}

input[type="checkbox"]:checked + label {
  background: rgb(157, 173, 127);
  background: linear-gradient(
    165deg,
    rgba(157, 173, 127, 1) 0%,
    rgba(85, 113, 116, 1) 100%
  );
  color: #f7f7e8;
  border: 1px black solid;
}

input[type="checkbox"]:checked + label p {
  color: #f7f7e8;
}

/*sign-up form -- end*/
